<footer id="footer" class="site-footer">
  <% if (theme.sidebar === 'bottom'){ %>
    <%- partial('_partial/sidebar') %>
  <% } %>

  <div class="clearfix container">
      <div class="site-info">
	      &copy; <%= date(new Date(), 'YYYY') %> <%= config.title || config.author %> All Rights Reserved.
        <% if (theme.busuanzi_analytics){ %>
            <span id="busuanzi_container_site_uv">
              <span id="busuanzi_value_site_uv"></span> 
              <span id="busuanzi_value_site_pv"></span>
            </span>
          <% } %>
      </div>
 </div>
</footer>


<!-- min height -->

<script>
    var wrapdiv = document.getElementById("wrap");
    var contentdiv = document.getElementById("content");

    wrapdiv.style.minHeight = document.body.offsetHeight - document.getElementById("allheader").offsetHeight - document.getElementById("footer").offsetHeight + "px";
    contentdiv.style.minHeight = document.body.offsetHeight - document.getElementById("allheader").offsetHeight - document.getElementById("footer").offsetHeight + "px";


    <!-- headerblur min height -->
    <% if (is_current("about", false) && theme.about_big_image){ %>
      var headerblur = document.getElementById("header-blur");
      headerblur.style.minHeight = window.getComputedStyle(document.getElementById("allheader"), null).height;
    <% } %>
    
</script>
